{% extends 'layouts/base.html' %}
{% block content %}
<main class="container">
    <section class="register-form">
        <div class="title-bar">
            <h1>New Question</h1>
        </div>
        <form action="#">
                <label for="question-title">Title:</label>
                <input class="form-input" type="text" id="question-title" name="title" required>
                <label for="question-body">Details: </label>
                <textarea class="form-input" id="question-body" name="body" rows="8" required></textarea>
                <label for="tags">Tags: </label>
                <input class="form-input" type="text" id="tags" name="tags" placeholder="moon, park, puzzle">
            <button type="submit" class="submit-button">Ask!</button>
        </form>
    </section>
    {% endblock %}