{% extends 'layouts/base.html' %}
{% block content %}
<main class="container">
    <section class="register-form">
        <div class="title-bar">
            <h1>Log In</h1>
        </div>
        <form action="#">
            <h5 class="wrong_password">Sorry, wrong password!</h5>
            <input type="text" placeholder="Enter your login here" class="form-input" required>
            <input type="password" placeholder="**********" class="form-input" required>
            <button type="submit" class="form-button">Login</button>
            <a class="create-account-link" href="#">create new account</a>
        </form>
    </section>
    {% endblock %}
