{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'common.css' %}">
</head>
<body>
<header class="header">
    <div class="logo">
        <a href="#">
            AskPupkin
        </a>
    </div>
    <div class="search-form">
        <form action="#">
            <input class="search-form-input" type="text">
            <button class="search-form-button">Ask!</button>
        </form>
    </div>
    <div class="account">
        <div class="account-image">
            <img src="./image.jpg" alt="Hi">
        </div>
        <div class="account_content">
            <div class="account-name">Username</div>
            <a href="/settings.html">settings</a>
            <a href="/logout.html">log out</a>
        </div>
    </div>
</header>
<main class="container">
    <section class="login-form">
        <div class="title-bar">
            <h1>Log In</h1>
        </div>
        <form action="#">
            <h5 class="wrong_password">Sorry, wrong password!</h5>
            <input type="text" placeholder="Enter your login here" class="form-input">
            <input type="password" placeholder="**********" class="form-input">
            <button type="submit" class="form-button">Login</button>
            <a class="create-account-link" href="#">create new account</a>
        </form>
    </section>
    <aside class="sidebar">
        <section class="popular-tags">
            <h3>Popular Tags</h3>
            <div class="tags">
                <a href="#">perl</a>
                <a class="python" href="#">python</a>
                <a class="tchno-park" href="#">TechnoPark</a>
                <a class="mysql" href="#">MySQL</a>
                <a class="django" href="#">django</a>
                <a class="mailru" href="#">Mail.Ru</a>
                <a class="voloshin" href="#">Voloshin</a>
                <a class="firefox" href="#">Firefox</a>
            </div>
        </section>
        <section class="best-members">
            <h3>Best members</h3>
            <ul class="best-members-list">
                <li>Mr.Freedom</li>
                <li>Dr.House</li>
                <li>Bender</li>
                <li>Queen Victoria</li>
                <li>V.Pupkin</li>
            </ul>
        </section>
    </aside>
</main>
</body>
</html>
