{% extends 'layouts/base.html' %}
{% block content %}
<main class="container">
    <div class="content">
        <div class="title-bar">
            <h1>One question page</h1>
            <a href="{% url 'index' %}">Main page</a>
        </div>
        <article class="cards">
            <div class="card">
                <div class="card-left">
                    <img src="./image.jpg" alt="Image" class="card-image">
                    <input type="number" class="card-likes" value="5">
                </div>
                <div class="card-right">
                    <div class="card-right-content">
                        <h4>{{ item.title }}</h4>
                        <div>{{ item.text }}</div>
                    </div>
                    <div class="card-right-button">
                        <a href="./answers.html">Answer (3)</a>
                        <div class="card-tags">
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="pagination">
            {% if prev_question_id is not None %}
                <a href="{% url 'question' prev_question_id %}">Previous</a>
            {% endif %}
            <span>{{ item.title }}</span>
            {% if next_question_id is not None %}
                <a href="{% url 'question' next_question_id %}">Next</a>
            {% endif %}
        </div>
    </div>
    {% endblock %}