{% extends 'layouts/base.html' %}
{% block content %}
<main class="container">
    <section class="register-form">
        <div class="title-bar">
            <h1>Registration</h1>
        </div>
        <form action="#">
            <h5 class="error-message">Sorry, this email address already registered!</h5>
            <input type="text" placeholder="Login" class="form-input" required>
            <input type="email" placeholder="Email" class="form-input" required>
            <input type="text" placeholder="Nickname" class="form-input" required>
            <input type="password" placeholder="Password" class="form-input" required>
            <input type="password" placeholder="Repeat password" class="form-input" required>
            <div class="file-upload">
                <label for="avatar">Upload avatar:</label>
                <input type="file" id="avatar" name="avatar">
            </div>
            <button type="submit" class="form-button">Register!</button>
        </form>
    </section>
    {% endblock %}