{% extends 'layouts/base.html' %}
{% block content %}
<main class="container">
    <div class="content">
        <div class="title-bar">
            <h1>Tag: bender</h1>
        </div>
        <article class="cards">
            {% for question in questions %}
            <div class="card">
                <div class="card-left">
                    <img src="./image.jpg" alt="Image" class="card-image">
                    <input type="number" class="card-likes" value="5">
                </div>
                <div class="card-right">
                    <div class="card-right-content">
                        <h4><a href="{% url 'one_question' question.id %}"> {{ question.title }} </a></h4>
                        <div>{{ question.text }}</div>
                    </div>
                    <div class="card-right-button">
                        <a href="{% url 'one_question' question.id %}">Answer (3)</a>
                        <div class="card-tags">
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                            <a href="#">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </article>
        {% include 'components/pagination.html' %}
    </div>
    {% endblock %}