{% extends 'layouts/base.html' %}
{% block content %}
<main class="container">
    <div class="content">
        <div class="title-bar">
            <h1>Tag: bender</h1>
        </div>
        <article class="cards">
            <div class="card">
                <div class="card-left">
                    <img src="./image.jpg" alt="Image" class="card-image">
                    <input type="number" class="card-likes" value="5">
                </div>
                <div class="card-right">
                    <div class="card-right-content">
                        <h4>How to build a moon park?</h4>
                        <div>Guys, i have trouble with a moon park.</div>
                             <div> Can't find th black-jack...</div>
                    </div>
                    <div class="card-right-button">
                        <a href="./answers.html"> answer (3)</a>
                        <div class="card-tags">
                            <a href="#">black-jack</a>
                            <a href="#">bender</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-left">
                    <img src="./image.jpg" alt="Image" class="card-image">
                    <input type="number" class="card-likes" value="5">
                </div>
                <div class="card-right">
                    <div class="card-right-content">
                        <h4>How to build a moon park?</h4>
                        <div>Guys, i have trouble with a moon park.</div>
                             <div> Can't find th black-jack...</div>
                    </div>
                    <div class="card-right-button">
                        <a href="./answers.html"> answer (3)</a>
                        <div class="card-tags">
                            <a href="#">black-jack</a>
                            <a href="#">bender</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-left">
                    <img src="./image.jpg" alt="Image" class="card-image">
                    <input type="number" class="card-likes" value="5">
                </div>
                <div class="card-right">
                    <div class="card-right-content">
                        <h4>How to build a moon park?</h4>
                        <div>Guys, i have trouble with a moon park.</div>
                             <div> Can't find th black-jack...</div>
                    </div>
                    <div class="card-right-button">
                        <a href="./answers.html"> answer (3)</a>
                        <div class="card-tags">
                            <a href="#">black-jack</a>
                            <a href="#">bender</a>

                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span>Page {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </div>
    </div>
    {% endblock %}